.dropzone {
    border: 2px dashed rgba(0, 0, 0, .5);
    border-radius: 4px;
    padding: 24px 12px;
    text-align: center;
    background: #eee;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center
}

.dropzone_active {
    border: 2px dashed #aaa;
}

.preview {
    position: relative;
    border-radius: 4px;
    background: #f7f7f7 no-repeat center / cover;
}

.remove {
    position: absolute 0 0 * *;
    margin: 8px;
}
